<body>
	<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
	<div class="contact">
	<img class="profile_pic" src="/empty_profile.png"/>
		<div class="contact_info">
			<p><strong>Email:</strong> <%= @contact.email %></p>
			<p><strong>Note:</strong> <%= @contact.note %></p>
		</div>
	</div>

	<form action="/contacts/<%= @contact.id %>" method="post">
	  <input type="hidden" name="_method" value="delete">
	  <button class="btn btn-danger contact_button contact_delete" type="submit"><i class="fa fa-times"></i>Delete Contact</button>
	</form>
</body>