<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>View All Contacts</title>
	</head>
	<body>
		<h1>Contacts</h1>
		<table class="table">
			<tr>
				<td></td>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email</td>
				<td>Note</td>
				<td>Actions</td>
			</tr>
			<% @contacts.each do |contact| %>
			<tr>
				<td><a href="/contacts/<%= contact.id %>">View</a></td>
				<td><%= contact.first_name %></td>
				<td><%= contact.last_name %></td>
				<td><%= contact.email %></td>
				<td><%= contact.note %></td>
				<td><a href=""><span class="">Edit</span></a><a href=""><span class="">Delete</span></a></td>
			</tr>
			<% end %>
		</table>
	</body>
</html>