<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>View All Contacts</title>
	</head>
	<body>
		<h1>Contacts</h1>
		<table class="table">
			<tr>
				<td></td>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email</td>
				<td>Note</td>
				<td>Actions</td>
			</tr>
			<% @contacts.each do |contact| %>
			<tr>
				<td><a class="btn btn-xs btn-success" href="/contacts/<%= contact.id %>"><i class="fa fa-user"></i>&nbsp;View</a></td>
				<td><%= contact.first_name %></td>
				<td><%= contact.last_name %></td>
				<td><%= contact.email %></td>
				<td><%= contact.note %></td>
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-xs btn-warning" href="/contacts/<%= contact.id %>/edit">
							<i class="fa fa-pencil fa-lg"></i>&nbsp;Edit
						</a>
						<a class="btn btn-xs btn-danger" href="#">
	  					<i class="fa fa-trash-o fa-lg"></i> Delete
	  				</a>
  				</div>
  			</td>
			</tr>
			<% end %>
		</table>
	</body>
</html>